:root {
  --primary-color: #5b7065;
  --secondary-color: #c9d1c8;
  --tertiary-color: #D69C12;
  --quaternary-color: #304040;
}

.body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Avenir', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 0 1px 0 rgba(0,0,0), 
              0 2px 0 rgba(0,0,0),
              0 10px 10px rgba(0,0,0,.25),
              0 15px 10px rgba(0,0,0,.2),
              0 25px 20px rgba(0,0,0,.15);
}

/* Color pictures to match color scheme. Change if root colors are changed */
/* cool website to help find colors: https://codepen.io/sosuke/pen/Pjoqqp */
.contactInfo img {
  filter: invert(81%) sepia(17%) 
          saturate(7007%) 
          hue-rotate(357deg) 
          brightness(89%) 
          contrast(88%)
          drop-shadow(0 1px 0 rgba(0,0,0)) 
          drop-shadow(0 2px 0 rgba(0,0,0))
          drop-shadow(0 10px 10px rgba(0,0,0,.25))
          drop-shadow(0 15px 10px rgba(0,0,0,.2))
          drop-shadow(0 25px 20px rgba(0,0,0,.15));
}

.contactInfo img:hover {
  filter: invert(21%) 
          sepia(27%) 
          saturate(387%) 
          hue-rotate(131deg) 
          brightness(88%) 
          contrast(85%)
          drop-shadow(0 1px 0 rgba(0,0,0)) 
          drop-shadow(0 2px 0 rgba(0,0,0))
          drop-shadow(0 10px 10px rgba(0,0,0,.25))
          drop-shadow(0 15px 10px rgba(0,0,0,.2))
          drop-shadow(0 25px 20px rgba(0,0,0,.15));
}


/* Nav */
header {
  padding: 0 0 2vw 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav {
  margin: 0;
  padding: 2vw 0 1vw 0;
  background-color: var(--quaternary-color);
  opacity: .7;
}

header a {
  text-decoration: none;
  color: var(--tertiary-color);
  margin: 0 2vw;
  padding: 1vw 1.5vw;
  font-weight: 400;
  font-size: 4vw;
}

nav:hover {
  opacity: .95;
}

header a:hover {
  color: var(--tertiary-color);
  border-bottom: none;
  box-shadow: 0 1px 0 rgba(0,0,0), 
              0 5px 0 rgba(0,0,0),
              0 10px 10px rgba(0,0,0,.25),
              0 15px 10px rgba(0,0,0,.2),
              0 25px 20px rgba(0,0,0,.15);
  text-shadow: none;
  border: 2px solid var(--tertiary-color);
}

header nav ul {
  opacity: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}


/* Me  */
.hero-jumbotron {
  display: block;
  width: 100%;
  color: var(--tertiary-color);
  align-items: center;
  justify-content: center;
}

.hero-jumbotron div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#memoji {
  height: 90vw;
  width: 90vw;
}

#hi {
  font-size: 11vw;
}

#name {
  font-size: 14vw;
  text-align: center;
}

#job {
  color: var(--secondary-color);
  font-size: 5vw;
  text-align: center;
}


/* About Me */
#about {
  font-size: 9vw;
  text-align: center;
  color: var(--tertiary-color);
}

#aboutInfo {
  font-size: 3.5vw;
  text-align: justify;
}


/* Work */
#work, #resume{
  text-align: center;
  color: var(--tertiary-color);
}

#work h2, #resume h2 {
  font-size: 10vw;
  margin: 0;
}

.sample {
  height: 30vw;
  width: 40vw;
}

.sampleText {
  text-align: center;
  padding: 5vw 0;
}

#work article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sampleText h3 {
  font-size: 5vw;
  padding: 1vw;
  color: var(--tertiary-color);
  width: 70vw;
  height: 10vw;
  border-radius: 2vw 2vw 0 0;
}

.sampleText p {
  font-size: 3.5vw;
  width: 70vw;
  height: 8vw;
  border-radius: 0 0 2vw 2vw;
}

#travelot, #note-taker, #social-networking-nosql, #employee-tracker, #run-buddy {
  background-position: top;
  background-size: cover;
  margin: 2vw;
  width: 80vw;
  height: 30vw;
  background-color: var(--quaternary-color);
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 5vw;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
              rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
              rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
              rgba(0, 0, 0, 0.06) 0px 2px 1px, 
              rgba(0, 0, 0, 0.09) 0px 4px 2px, 
              rgba(0, 0, 0, 0.09) 0px 8px 4px, 
              rgba(0, 0, 0, 0.09) 0px 16px 8px, 
              rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#travelot:hover, #note-taker:hover, #social-networking-nosql:hover, #employee-tracker:hover, #run-buddy:hover {
  background-color: transparent;
}

#travelot:hover div, #note-taker:hover div, #social-networking-nosql:hover div, #employee-tracker:hover div, #run-buddy:hover div {
  display: none;
}

#travelot {
  width: 80vw;
  background-image: url(./assets/images/travelot.png);
}

#note-taker {
  background-image: url(./assets/images/note-taker.png);
}

#social-networking-nosql {
  background-image: url(./assets/images/social-networking-nosql.png);
}

#employee-tracker {
  background-image: url(./assets/images/employee-tracker.png);
}

#run-buddy {
  background-image: url(./assets/images/run-buddy.png);
}


/* Contact Me */
.footer, .contactMe {
  padding: 5vw;
  display: flex;
  justify-content: center;
}

.contactInfo {
  padding: 4vw;
}

#linkedin {
  padding: 4vw 4vw 4vw 1vw
}

.contactInfo img {
  width: 10vw;
  height: 10vw;
}

#linkedin img {
  width: 16vw;
  height: 10vw;
}

#phone, #email {
  text-decoration: none;
  color: var(--tertiary-color);
}

#phone img, #email img {
  padding: 2vw;
}


/* Resume */
#resume address {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#resumeInfo {
  background-image: url(./assets/images/resume.png);
  background-position: top;
  background-size: cover;
  margin: 2vw;
  width: 85vw;
  height: 160vw;
  background-color: var(--quaternary-color);
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 5vw;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
              rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
              rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
              rgba(0, 0, 0, 0.06) 0px 2px 1px, 
              rgba(0, 0, 0, 0.09) 0px 4px 2px, 
              rgba(0, 0, 0, 0.09) 0px 8px 4px, 
              rgba(0, 0, 0, 0.09) 0px 16px 8px, 
              rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#resume h3 {
  height: 40vw;
  width: 70vw;
  font-size: 12vw;
}

#resumeInfo:hover {
  background-color: transparent;
}

#resumeInfo:hover div {
  display: none;
}


/* MEDIA QUERY */
@media screen and (min-width: 600px) {
  /* Nav */
  header a {
      font-size: 2vw;
  }


  /* Me  */
  .hero-jumbotron {
      background-color: var(--quaternary-color);
      display: flex;
      flex-wrap: wrap;
  }

  .hero-jumbotron div {
      display: block;
  }

  #memoji {
      height: 40vw;
      width: 40vw;
  }

  #hi {
      font-size: 5vw;
      margin-bottom: 0;
  }

  #name {
      margin-bottom: 0;
      font-size: 8vw;
  }
  
  #job {
      margin: 0;
      padding: 0;
      font-size: 2vw;
  }


  /* About Me */
  #about {
      font-size: 5vw;
  }

  #aboutInfo {
      font-size: 2vw;
  }


  /* Work */
  .sampleText{
      padding: 2vw 0;
  }

  #work h2, #resume h2 {
      font-size: 6vw;
  }

  .sampleText h3 {
      font-size: 3vw;
      padding: 2vw;
      width: 40vw;
      height: 6vw;
  }

  .sampleText p {
      font-size: 2vw;
      width: 40vw;
      height: 5vw;
  }

  #travelot, #note-taker, #social-networking-nosql, #employee-tracker, #run-buddy {
      width: 40vw;
      height: 15vw;
  }

  #travelot {
      width: 84vw;
  }


  /* Contact Me */
  #linkedin {
    padding: 4vw 4vw 4vw 0;
  }

  .contactInfo img {
      width: 8vw;
      height: 8vw;
  }

  #linkedin img {
    width: 11vw;
    height: 8vw;
  }


  /* Resume */
  #resumeInfo {
      width: 85vw;
      height: 50vw;
  }

  #resume h3 {
      height: 18vw;
      width: 40vw;
      font-size: 6vw;
  }
}




/* MEDIA QUERY */
@media screen and (min-width: 1100px) {
  /* Nav */
  header {
      justify-content: end;
  }

  header a {
      font-size: 1.5vw;
  }


  /* Me  */
  #memoji {
      height: 35vw;
      width: 35vw;
  }

  #hi {
      font-size: 4.5vw;
  }

  #name {
      font-size: 7vw;
  }
  
  #job {
      font-size: 1.75vw;
  }


  /* About Me */
  #about {
      font-size: 4vw;
  }

  #aboutInfo {
      font-size: 1.7vw;
  }


  /* Work */
  .sampleText {
      padding: 0;
  }

  #work h2, #resume h2 {
      padding: 1vw;
      font-size: 4vw;
  }

  .sampleText h3 {
      font-size: 2.5vw;
      height: 5vw;
  }

  .sampleText p {
      font-size: 2vw;
      height: 4vw;
  }

  #travelot, #note-taker, #social-networking-nosql, #employee-tracker, #run-buddy {
      height: 10vw;
  }

  #travelot {
      height: 13vw;
  }


  /* Resume */
  #resumeInfo {
      width: 85vw;
      height: 35vw;
  }

  #resume h3 {
      height: 15vw;
      width: 30vw;
      font-size: 4vw;
  }
}